* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    color: #f4f4f4;
    outline: none;
}

body {
    background: #333;
    text-align: center;
}

.title {
    margin: 5rem 0 3.5rem;
    font-weight: 300;
    font-size: 3rem;
}

.header {
    text-decoration: underline;
    margin: 2.5rem 0;
    font-size: 2.25rem;
}

p {
    width: 75%;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div a {
    display: block;
    margin: .6rem;
    font-size: 1.5rem;
    font-weight: 600;
    width: max-content;
}

div a:hover {
    color: red;
}