* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    color: #f4f4f4;
}

body {
    background: #333;
    text-align: center;
}

h1 {
    margin: 5rem;
    font-weight: 300;
    font-size: 3rem;
}

div a {
    display: block;
    margin: 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
}

div a:hover {
    color: red;
}